@{
    ViewData["PageTitle"] = "Bảng điều khiển";
}

<div class="row mt-2">
    
    <div class="col-xxl-3 col-md-4">
        <div class="card info-card sales-card ">
            <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Bài viết <span>| Hiện tại</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.PostCount</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xxl-3 col-md-4">
        <div class="card info-card sales-card ">
            <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Bài viết <span>| Chưa xuất bản</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.PostUnPublicCount</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xxl-3 col-md-4">
        <div class="card info-card sales-card ">
            <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Tác giả <span>| Hiện tại</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.AuthorCount</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-md-4">
        <div class="card info-card sales-card ">
            <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Bình luận <span>| Hiện tại</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.CmtCount</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-xxl-3 col-md-4">
        <div class="card info-card sales-card ">
            <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Bình luận <span>| Chưa duyệt</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.CmtNotVerifyCount</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-md-4">
        <div class="card info-card sales-card ">
            <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Đăng ký <span>| Hiện tại</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.SubCount</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xxl-3 col-md-4">
        <div class="card info-card sales-card ">
            <div class="card-body d-flex justify-content-between">
                <h5 class="card-title">Đăng ký <span>| Hôm nay</span></h5>
                <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                        <i class="bi bi-cart"></i>
                    </div>
                    <div class="ps-3">
                        <h6>@ViewBag.SubDailyCount</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>